<div class="sidebar-container">
<div class="sidebar-menu active">
<p><i class="fa-solid fa-house"></i></p>
<h3>Home</h3>
</div>
<div class="sidebar-menu">
    <p><i class="fa-solid fa-video"></i></p>
    <h3>Shorts</h3>
</div>
<div class="sidebar-menu">
    <p><i class="fa-solid fa-subscript"></i></p>
    <h3>Subscriptions</h3>
    
</div>
<hr/>

    <div class="sidebar-menu">
        
        <h3 class="sidebar-list">You ></h3>
        
    </div>
    <div class="sidebar-menu">
        <p><i class="fa-solid fa-clock-rotate-left"></i></p>
        <h3>History</h3>
        
    </div>
    <div class="sidebar-menu">
    <p><i class="fa-brands fa-playstation"></i></p>
    <h3>Playlist</h3>
</div>

<div class="sidebar-menu">
    <p><i class="fa-solid fa-clock"></i></p>
    <h3>Watch later</h3>
</div>

<div class="sidebar-menu">
    <p><i class="fa-solid fa-heart"></i></p>
    <h3>Liked videos</h3>
</div>

<hr/>
<div class="sidebar-menu">
    
    <h3>Explore</h3>
</div>
<div class="sidebar-menu">
    <p><i class="fa-solid fa-fire"></i></p>
    <h3>Trending</h3>
</div>
<div class="sidebar-menu">
    <p><i class="fa-solid fa-cart-shopping"></i></p>
    <h3>Shopping</h3>
</div>
<div class="sidebar-menu">
    <p><i class="fa-solid fa-music"></i></p>
    <h3>Music</h3>
</div>
<div class="sidebar-menu">
    <p><i class="fa-solid fa-film"></i></p>
    <h3>Movies</h3>
</div>
<div class="sidebar-menu">
    <p><i class="fa-solid fa-life-ring"></i></p>
    <h3>Live</h3>
</div>
<div class="sidebar-menu">
    <p><i class="fa-solid fa-headset"></i></p>
    <h3>Gaming</h3>
</div>
<div class="sidebar-menu">
    <p><i class="fa-solid fa-newspaper"></i></p>
    <h3>News</h3>
</div>
<div class="sidebar-menu">
    <p><i class="fa-solid fa-volleyball"></i></p>
    <h3>Sports</h3>
</div>
<div class="sidebar-menu">
    <p><i class="fa-brands fa-discourse"></i></p>
    <h3>Courses</h3>
</div>
<div class="sidebar-menu">
    <p><i class="fa-solid fa-shirt"></i></p>
    <h3>Fashion and beauty</h3>
</div>
<div class="sidebar-menu">
    <p><i class="fa-solid fa-podcast"></i></p>
    <h3>Podcasts</h3>
</div>

</div>

