<div class="sidebar-collapsed-container">
    <div class="sidebar-collapsed-menu active">
    <p><i class="fa-solid fa-house"></i></p>
    
    </div>
    <div class="sidebar-collapsed-menu">
        <p><i class="fa-solid fa-video"></i></p>
        
    </div>
    <div class="sidebar-collapsed-menu">
        <p><i class="fa-solid fa-subscript"></i></p>
        
        
    </div>
    
    
        <div class="sidebar-collapsed-menu">
            
            <h3 class="sidebar-list">You ></h3>
            
        </div>
        </div>
